[submodule ".registry"]
	path = .registry
	url = https://github.com/r4goodacademy/r4goodacademy.r-universe.dev
	branch = HEAD
[submodule "R4GoodPersonalFinances"]
	path = R4GoodPersonalFinances
	url = https://github.com/R4GoodAcademy/R4GoodPersonalFinances
